html,
body {
  padding: 0;
  color: white;
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  background-color: #e86669;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15 20 20 20;
  margin: 0;

  height: 5.5vh;
}

.navright {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-right: 50px;
}

.navleft-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  padding-left: 40px;
}

.navleft a {
  padding: 10px;
  line-height: 2rem;
}

li {
  display: inline-block;
  width: 150px;
}

.mainlogo {
  padding-top: 10px;
  cursor: pointer;
  margin-right: 30px;
}

.homePage {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#16193b, #4e7ac7);
  min-height: 100vh;
}

.logo {
  margin-top: 100px;
}

.logotext {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}
.feature.heading-container {
  margin: 0;
  background-color: #00053e;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.about.heading-container {
  margin: 0;
  background-color: #00053e;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.features-body {
  display: flex;
  color: black;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  max-width: 50%;
  font-size: 1.5rem;
  /* border: 1px solid blue; */
  align-content: center;
}

.title {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  border-radius: 10px;
  border: solid rgb(205, 205, 205) 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.features-container {
  margin-bottom: 20px;
}
.feature-icon {
  display: flex;
  justify-content: space-evenly;
  /* border: solid red 2px; */
}
.feature-icon span {
  display: flex;
  /* border: solid black 3px; */
}
.h1 {
  font-size: ;
}
.heading {
  font-size: 3.5em;
}
.about-row {
  color: black;
  display: flex;
  max-width: 50%;
  margin: 34px auto 34px auto;
  justify-content: space-around;
  /* border: solid red 2px; */
}
.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid rgb(205, 205, 205) 1px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic {
  border-radius: 50%;
}
.contact {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  background-color: transparent;
  display: flex;
  border: white solid 1px;
  align-items: center;

  color: rgb(208, 208, 208);
  font-size: 1em;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.173);
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: space-around;
  /* border: solid red 1px; */
}

.gitbtn {
  margin-left: 1px;
  margin-right: 30px;
}
.navleft a:hover {
  text-shadow: 2px 2px 5px #000000ac;

  font-size: 1.2rem;
}
.test4:hover {
  transform: scale(1.1);
  border-radius: 20px;
  text-decoration: none;
}

.team {
  padding-left: 10px;
}
